{% extends "base.html" %}
{% block body %}
    <script type="text/javascript" language="javascript">// <![CDATA[
function showDesc(id) {
    var ele = document.getElementById(id);
    if(ele.style.visibility == "visible") {
            ele.style.visibility = "hidden";
      }
    else {
        ele.style.visibility = "visible";

    }
}
// ]]></script>
    <span><h2>Recipe List</h2></span>

           <br>
           {% if recipes %}


                <form method="post" action="">



                <div class="row">

            {% for recipe in recipes %}
            <div class="row">
               <div class="span4" style=" color: #ffffff; font-family: cursive" ><a style="color:darkblue; font-family: cursive; text-decoration: underline; font-size: 20px" href="/r/{{ recipe.id }}">{{ recipe.recipeName}}</a>

               <div> by  <a href="/u/{{ recipe.creatorID.username }}"> {{ recipe.creatorID.username }}</a> - {{ recipe.creationDateTime.date }}</div>

             </div>
                </div>
                <br>
            {% endfor %}
               </div>
                </form>



            {% endif %}



{% endblock %}