{% extends "base.html" %}
{% block body %}
    <script type="text/javascript" language="javascript">// <![CDATA[
function showDesc(id) {
    var ele = document.getElementById(id);
    if(ele.style.visibility == "visible") {
            ele.style.visibility = "hidden";
      }
    else {
        ele.style.visibility = "visible";

    }
}
// ]]></script>
    <span><h2>Recipe List</h2></span>

           <br>
           {% if recipes %}


                <form method="post" action="">

                   {% for r in recipes %}

                    <p> <h4  style="text-decoration: underline; color: darkblue; font-family: cursive"  onclick="showDesc({{ r.id }})">{{ r.recipeName }}</h4>
                        by  <comment style="text-decoration: underline; font-style: italic" >{{ r.creatorID.username }}</comment> - <comment style="font-style: italic">  {{ r.creationDateTime }}</comment>
                       <div id="{{ r.id }}" style="visibility: hidden"  ><comment style="font-family: cursive; font-weight: bold; color: darkblue">   Description:</comment> {{ r.recipeDesc }}</div></p>



                   {% endfor %}
                </form>



            {% endif %}



{% endblock %}