{% extends "base.html" %}
{% block body %}
    <span><h2>Mutate the recipe!</h2></span>
    {% if error %}
    <br>
    <div class="row">
        <div class="span11">
          <div class="alert alert-error">
            <a class="close">×</a>
            <strong>Error :</strong> The recipe couldn't be added. Note that the recipe name must be unique and there should be at least one ingredient.
          </div>
        </div>
    </div>
    {% endif %}

    {% if recipe_form and rc_forms %}
        <form method="post" action="" class="form-horizontal well">{% csrf_token %}
          <tr>
              <td>
                  <label>Recipe Name:</label>
                  {{ recipe_form.recipeName }}
              </td>
          </tr>
          {% for rc_form in rc_forms %}
          <tr>
              <td>
                  <label>Ingredient:</label>
                 {{ rc_form.quantity }}

                 {{ rc_form.measurementUnit }}

                 {{ rc_form.ingredient }}

{#                 <input type="checkbox" id="id_replace-{{ rc_form.id }}" value="replace-{{ rc_form.id }}">#}
{#                 <span>Replace </span>#}

              </td>
          </tr>
          {% endfor %}

          <tr>
              <td>
                  <label>Recipe Steps:</label>
                 {{ recipe_form.recipeDesc }}
{#                  <textarea id="id_recipeDesc" name="recipeDesc" rows="5" style="width: 647px"></textarea>#}
              </td>
          </tr>


            <p>
          <tr>
              <td>

                  <br>
            <input type="submit" name="submit" value="Save Mutation!">
              </td>
        </tr>
        </p>
        </form>

    {% endif %}
{% endblock %}