{% extends "base.html" %}
{% block body %}
    <h2><span>User profile</span></h2>
    {% if user and UserProfile1 %}
    <table>
        <tr>
              <td>
                  <label>User Name: {{ user.username }}</label>


              </td>

         </tr>
         <tr>
               <td>
                  <label> User Karma: {{ UserProfile1.karma }} </label>
              </td>

        </tr>
   </table>
        {% if createdRecipes1 %}


          <h4><label>Own Recipes:</label></h4>
        <tr>
              <td>

                     {% for r in createdRecipes1 %}
                        {{ r.recipeName }}
                         <br>
                   {% endfor %}
              </td>

         </tr>


        {% else %}
            <h4><label>You have not created any recipe yet. Go check the <a href="/">recipes</a>.</label></h4>

        {% endif %}
    {% endif %}

{% endblock %}