{% extends "base.html" %}
{% block body %}
    <div class="row"><div class="span12">
        <h1>{{ recipe.recipeName }}</h1>
        <span>by </span><a href="/u/{{ creator_name }}"> {{ creator_name }}</a>
        <br><br>

        <td>Likes: </td><td>{{ numberLikes1 }}</td><td>   </td>
        <a id="like_button" recipe_id="{{ recipe.pk }}" class="btn btn-warning" href="">{% if liked == True %}Unlike{% else %}Like{% endif %}</a>


        <div class="row"><div class="span12">
            <h3>Description</h3>
            {{ recipe.recipeDesc }}
        </div></div>
        <div class="row"><div class="span12">
            <h3>Content</h3>
            <div class="row">
                <div class="span2" id="content_title">Amount</div>
                <div class="span2" id="content_title">Ingredient</div>
            </div>
            {% for element in content %}
            <div class="row">
                <div class="span2">{{ element.amount }}</div>
                <div class="span2">{{ element.ingredient }}</div>
            </div>
            {% endfor %}
        </div></div>
    </div></div>


{% endblock %}

