{% extends "base.html" %}
{% block body %}
    <div class="row"><div class="span12">
        <h1>{{ user_to_view.username }}</h1>
        <h4>User Information :</h4>

        <table>
        <tr>
              <td>
                  <span>E-Mail : {{user_to_view.email  }}</span>

              </td>
         </tr>
         <tr>
               <td>
                    <span> User Karma: {{ karma }} </span>
              </td>

        </tr>
   </table>
     {% if recipes %}
           <h4><label>Own Recipes:</label></h4>
        <tr>
              <td>

                     {% for recipe in recipes %}
                        <a href="/r/{{ recipe.id }}"> {{ recipe.recipeName }}</a>
                         <br>
                   {% endfor %}
              </td>

         </tr>
    {% endif %}
    {% if likedRecipes1 %}
            <h4><label>Liked Recipes:</label></h4>
        <tr>
              <td>

                     {% for liked in likedRecipes1 %}
                        <a href="/r/{{ liked.recipe.id }}"> {{ liked.recipe.recipeName }}</a>
                         <br>
                   {% endfor %}
              </td>

         </tr>
     {% endif %}
    {% if mutatedRecipes %}
            <h4><label>Mutated Recipes:</label></h4>
        <tr>
              <td>

                     {% for mutated in mutatedRecipes %}
                        <a href="/r/{{ mutated.mutated_recipe.id }}"> {{ mutated.mutated_recipe.recipeName }}</a>
                         &nbsp; mutated from &nbsp;
                         <a href="/r/{{ mutated.source_recipe.id }}"> {{ mutated.source_recipe.recipeName }}</a>

                         <br>
                   {% endfor %}
              </td>

         </tr>
     {% endif %}


</div>
</div>


{% endblock %}